body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container{
    width: 90%;
    margin: auto;
}

.row{
    width: 100%;
    float: left;
    margin: .5em;
}
.col{
    float: left;
}
.col-1{ width: 10%; }
.col-2{ width: 20%; }
.col-3 { width: 30%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }
.col-7 { width: 70%; }
.col-8 { width: 80%; }
.col-9 { width: 90%; }
.col-10 { width: 100%; }

textarea{
    font-family: Arial;
    width: 100%;
    padding: .5em;
}

input{
    width: 100%;
    padding: .5em;
}

label{
    float: right;
    padding-right: .5em; 
    padding-top: .5em;
}

input[type="submit"]{
    padding: .5em;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.menu{
    width: 100%;
    padding: .5em;
}

.img-gallery{
    width: 30%;
    border: 2px solid;
}

.title-gallery{
    font-weight: bold;
}